$dark_bg: #010c15;
$light_bg: #fafafa;

$text_color: #607b96;
$not_active_icon: #607b96;

$dark_line: #1e2d3d;
$light_line: #b8c7d7;

$light_gray: #607b96;
$dark_gray: #1e2d3d;
$turquoise: #43d9ad;
$violet: #4d5bce;
$coral: #e99287;
$light_blue: #4fc3f7;
$light_green: #81c784;
$rose: #aa759f;
$orange: #fea55f;

$drop_shadow: drop-shadow(0 0 2px rgba(96, 123, 150, 0.3));
