@tailwind base;
//@tailwind components;
@tailwind utilities;
@import "reset";

@layer base {
	:root {
		// colors
		--dark-bg: #010c15;
		--light-bg: #fafafa;

		--dark-border-color: #1e2d3d;
		--light-border-color: #b8c7d7;

		--text-color: #607b96;
		--not-active-icon-color: #607b96;

		--active-page-border-color: #fea55f;

		--gray: #607b96;
		--dark-gray: #1e2d3d;
		--turquoise: #43d9ad;
		--violet: #4d5bce;
		--coral: #e99287;
		--blue: #4fc3f7;
		--green: #81c784;
		--rose: #aa759f;
		--orange: #fea55f;

		//icons
		--icon-personal-info: #81c784;
		--icon-professional-info: #aa759f;
		--icon-macbook: #43d9ad;
		--icon-hobbies: #4fc3f7;

		//variables
		--border-radius-base: 15px;
		--margin-base: 15px;
		--input-drop-shadow: drop-shadow(0 0 2px rgba(96, 123, 150, 0.3));
		--min-screen: 360px;
		--min-elm-size: 32px;

		// dark mode
		--background: var(--dark-bg);
		--border-color-base: var(--dark-border-color);
		--theme-switcher-bg: var(--light-bg);
	}

	// light mode
	.light {
		--background: var(--light-bg);
		--border-color-base: var(--light-border-color);
		--theme-switcher-bg: var(--dark-bg);
	}
}

html {
	overflow: hidden;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	@apply bg-background text-base-color;
}

button {
	@apply flex;
}
