.cursor {
	@apply w-20 h-20 z-20 rounded-full bg-white absolute mix-blend-difference border-2 border-blue-700
	animate-[rubberband_1000ms_alternate_ease-out];
	transform: translate3d(0, 0, 0);
}

.hide {
	@apply w-0 h-0 border-none animate-[hide_200ms_alternate_ease-out];
}

@keyframes hide {
	from {
		@apply w-20 h-20;
	}
	to {
		@apply w-0 h-0;
	}
}

@keyframes rubberband {
	0% {
		@apply w-0 h-0;
	}
	20% {
		@apply w-20 h-20;
	}
	40% {
		transform: scaleX(1.12) scaleY(0.75);
	}
	55% {
		transform: scaleX(0.85) scaleY(1);
	}
	65% {
		transform: scaleX(1.09) scaleY(0.85);
	}
	75% {
		transform: scaleX(0.9) scaleY(1);
	}
	90% {
		transform: scaleX(1.05) scaleY(0.95);
	}
	100% {
		transform: scaleX(1) scaleY(1);
	}
}
