.cursor {
	@apply w-20 h-20 z-10 rounded-full bg-white absolute mix-blend-difference touch-none cursor-none pointer-events-none border-2 border-blue-700;
}

.show {
	animation: rubberband 800ms alternate ease-out;
}

.hide {
	width: 0;
	height: 0;
	border: none;
	animation: hide 200ms alternate ease-out;
}

@keyframes hide {
	from {
		width: 5rem;
		height: 5rem;
	}
	to {
		width: 0;
		height: 0;
	}
}

@keyframes rubberband {
	0% {
		width: 0;
		height: 0;
	}
	20% {
		width: 5rem;
		height: 5rem;
		transform: scaleX(1);
	}
	40% {
		transform: scaleX(1.12) scaleY(0.75);
	}
	55% {
		transform: scaleX(0.85) scaleY(1);
	}
	65% {
		transform: scaleX(1.09) scaleY(0.85);
	}
	75% {
		transform: scaleX(0.9) scaleY(1);
	}
	90% {
		transform: scaleX(1.05) scaleY(0.95);
	}
	100% {
		transform: scaleX(1) scaleY(1);
	}
}
